# pyfakefs will use these packages if they are available.
#
# They are dependencies of pytest so we already get them via requirements.txt,
# this file makes them explicit dependencies for testing & development.
#
# Older versions might work ok, the versions chosen here are just the latest
# available at the time of writing.

pathlib2>=2.3.2

scandir>=1.8
