# "pathlib2" and "scandir" are backports of new standard modules,  pyfakefs will
# patch them if available when running on older Python versions.
#
# The modules are no longer for all required Python version, and only used for CI tests.
# Note that the usage of these modules is deprecated, and their support
# will be removed in pyfakefs 6.0
pathlib2>=2.3.2
scandir>=1.8; python_version < '3.13'  # not (yet) available for Python 3.13
